.clients_checkbox .container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .clients_checkbox .container input {
    position: absolute!important;
    opacity: 0!important;
    cursor: pointer!important;
    height: 0!important;
    width: 0!important;
  }
  
  /* Create a custom checkbox */
  .clients_checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-radius: 0;
    border: 0.5px solid #85879A
  }
  
  /* On mouse-over, add a grey background color */
  .clients_checkbox .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .clients_checkbox .container input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .clients_checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .clients_checkbox .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .clients_checkbox .container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 4px;
    height: 9px;
    border: 0.1px solid #4E5C86;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }